.App {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh + 0px);
  position: relative;
}


.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  background-color: #BF360C;
}

#NavBrand {
  color: #FAFAFA;
  font-weight: bold;
  font-size: calc(12px + 2vmin);
}

#carrinho #cart-button {
  display: none;
}

#carrinho #cart-back {
  display: none;
}


@media only screen and (max-width: 576px) {
  #NavBrand{
    text-align: center;
    margin: 0 auto;
    font-size: calc(16px + 2vmin);   
  }

  #form{
    width: 100%;
  }

  #form-button{
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
  }

  #carrinho {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #050505;
    text-align: center;
    padding: 0;
  }

  #carrinho #item-carrinho{
    display: none;
  }

  #carrinho h5 {
    display: none;
  }

  #carrinho Button{
    background-color: #BF360C;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  #carrinho #cart-button {
    display: inline-block;
  }

  #carrinho #cart-back {
    display: none;
  }
}